@model GTL.View.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Login"))
{
    @Html.Label("Username ")

    @Html.TextBoxFor(login => Model.Username)
    <br />
    @Html.Label("Password ")
    @Html.TextBoxFor(login => Model.Password)
    <br />
    <input type="submit" value="Log In" />


}

@if (ViewBag.LoginSuccess != null && ViewBag.LoginSuccess == false)
{
    <p style="color:red">Unable to login, try another username or password.</p>
}
