<div>
    <h1>GEORGIA TECH LIBRARY</h1>
    <p class="lead"></p>
    <div>
        @Html.ActionLink("Log in", "Index", "Login")
        <br />
        @Html.ActionLink("Catalogue", "Index", "Catalogue")
    </div>
